{% extends "base.html"%}
{% block css %}
<link rel="stylesheet" type=text/css href = "{{url_for('static', filename="/css/app.css")}}">
{% endblock%}

{% block main %}
<div id="div1"><h1> Profile</h1></div>
<br>
<div id = "div2"><img src="{{ url_for('static', filename="Roger.jpg") }}"/></div>
<div id="div3">
        <div id="divheading"><h4><P></P> Boy Fi Dead</P></h4></div>
        <div id="divsize">
        <div id="ok"><br> {{today}}</div><br>
        <div id="ok1" rowspan="4"> <b>Username:</b> Ruger <br> <b> ID Number:</b> 620083491 <br> <b>age:</b> 25 <br> <b> Gender:</b> Male</div>
        <br><div id="ok2">Ready Fi Murder dem </div>
 </div>
 </div>

{% endblock %}